@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/rubik/rubik-400.woff2)format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url(/fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100%;
    font-family: "raleway", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    color: black;
}

html {
    height: 100%;
}

main {
    width: 1160px;
    margin: 0 auto;
}

footer {
    background-color: #444444;
    width: 1440px;
    margin: 0 auto;
}

/* <header> */

.main-header {
    color: black;
    width: 1440px;
    margin: 0 auto;
}

/* Форма поиска в <header> */
.search-form {
    font-family: "rubik";
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

/* Навигация возле поиска */
.navigation-link-up {
    font-family: "rubik";
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: flex;
}

/* Навигация каталог-доставка-гарантия-доставка */
.navigation-link-down {
    font-family: "raleway";
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

/* Каталог товаров (раскрытие) */
.catalog-products-link {
    font-family: "rubik";
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.navigation-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color:#ffffff;
    text-decoration: none;
}

.head-second-page {
    font-family: 'raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F0F0F0;
}

.navigation {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 0 auto;
    background-color:#FFE17F;
}

.navigation-list-top {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.navigation-item-top {
    width: 83px;
}

.navigation-list-down {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}

.navigation-item-down {
    width: auto;
}

.search-form {
    width: 517px;
}


.navigation-top {
    width: 1040px;
    display: flex;
    margin: 0 auto;
    padding-top: 45px;


}

.navigation-down {
    width: 1040px;
    margin: 0 auto;
}

.navigation-top-right {
    width: 240px;
    margin-left: auto;
    display: flex;
}

.navigation-top-block {
    width: 496px;
    margin-left: auto;
}

.navigation-list {
    display: flex;
}

.navigation-down-block {
    display: flex;
    margin-left: auto;
}

.logo-device {
    display: block;
    margin-right: auto;
}






/* Порхает как бабочка */
.tagline-product {
    font-family: "raleway";
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

/* Описание товара главного*/
.main-description {
    font-family: "rubik";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color:#444444;
}

/* ПОДРОБНЕЕ - О НАС - ДОСТАВКА */
.more-description{
    font-family: "raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFE17F;
}

/*Технические хар-ки ЦИФРЫ  */
.tech-description {
    font-family: "rubik";
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
}

/* Технические хар-ки ТЕКСТ */
.tech-description-about {
    font-family: "rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:#444444;
}

.category-name {
    font-family: 'raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}


.name-delivery {
    font-family: 'rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.info-contacts {
    font-family: 'rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color:#444444;
}

.contact-description {
    font-family: 'rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color:#444444;
}

.contact-scedule-item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color:#444444;
}

.subscription-button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.description {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:#444444;
}

.mailing {
    background-color:#F0F0F0;
    margin: 0 auto;
    width: 1440px;
}

.category-logo {
    background: #FFE17F;
    width: 160px;
    height: 160px;
}

.info-more-description {
    background-color: #F0F0F0;
}

.more-description-chosen {
    background-color:black;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #FFE17F;
}

.logo-car {
    background-color: #FFE17F;
}

.logo-social {
    text-decoration: none;
    color:#F0F0F0;
}

.footer-centre {
    color:#F0F0F0;
}

/* Каталог */
.breadcrumbs-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color:black;
}

.color-filtr {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.bluetooth-filtr {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.main-catalog {
    background-color: #F0F0F0;
}

.popular-cheap-expensive {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;  
}

.product-card-catalog {
    background-color: white;
}

.pagination {
    background-color: #EBEBEB;
}

.product-card-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: black;  
 
}

.product-card-price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color:#444444;
}

.catalog-show-more {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase; 
}

.pagination-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    text-decoration: none;
}.catalog-page-swift {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;  
}

.social-network-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase; 
    text-decoration: none;
    color: white;
}


.main-container {
    flex-grow: 1;
}


.main-container-top {
    display: flex;

}
.gallery {
    width: 560px;
}

.description-product {
    width: 545px;
    margin-left: auto;
}

.categories-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.product-category {

}

.category-item {
    width: 160px;
}

.tech-description-list {
    display: flex;
    justify-content: space-between;
    width: 307px;
    padding: 0;
    margin: 0;
}

.footer-1-page {
    width: 1440px;
    background-color:#F0F0F0;
    display: flex;
    justify-content: space-between; 
}

.info-more-description {
    display: flex;
    flex-direction: column;
    width: 448px;
    padding: 0;
    padding-left: 123px;
    padding-bottom: 144.5px;

}

.logo-delivery-man {
    display: block;
    padding-right: 206.7px;
}

.about-contacts {
    display: flex;
    
}

.mailing {
    display: flex;
    flex-direction: column;
}

.mailing-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.mailing-2 {
    display: flex;
    justify-content: space-between;
}

.contact-address-footer {
    font-family: "rubik";
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    font-style: normal;
    color:#EBEBEB;
    width: 234px;
}

.contact-address {
    font-family: "rubik";
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    color:#EBEBEB;
    width: 234px;
}

.page-footer-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding-top: 62px;
}

.footer-left {
    width: 234px;
    margin-right: 124px;
}

.footer-centre {
    width: 444px;
    margin-right: 183px;
    
}

.footer-right {
    width: 175px;
}

.more-description-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}


.footer-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.footer-social-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
